/*--
    Common Css
--*/
body {
  -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 100px;
    color: white;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
    
}

h2{font-size: 75px;
    color: white;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
    
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}


@-webkit-keyframes loading {
  /*  */
  0% {
    box-shadow: inset 0 0 0 80px #f9a743;
  }
  8.49% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* orange */
  8.5% {
    box-shadow: inset 0 0 0 0 #ff8133;
  }
  24.99% {
    background: #ff8133;
    box-shadow: inset 0 0 0 160px #ff8133;
  }
  /* yellow */
  25% {
    box-shadow: inset 0 0 0 0 #ffbe1a;
  }
  41.49% {
    background: #ffbe1a;
    box-shadow: inset 0 0 0 160px #ffbe1a;
  }
  /*  */
  41.5% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  57.99% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* blue */
  58% {
    box-shadow: inset 0 0 0 0 #00b5d9;
  }
  74.49% {
    background: #00b5d9;
    box-shadow: inset 0 0 0 160px #00b5d9;
  }
  /* purple */
  74.5% {
    box-shadow: inset 0 0 0 0 #9772e5;
  }
  90.99% {
    background: #9772e5;
    box-shadow: inset 0 0 0 160px #9772e5;
  }
  /*  */
  91% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  100% {
    background: #f9a743;
    box-shadow: inset 0 0 0 80px #f9a743;
  }
}

@keyframes loading {
  /*  */
  0% {
    box-shadow: inset 0 0 0 80px #f9a743;
  }
  8.49% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* orange */
  8.5% {
    box-shadow: inset 0 0 0 0 #ff8133;
  }
  24.99% {
    background: #ff8133;
    box-shadow: inset 0 0 0 160px #ff8133;
  }
  /* yellow */
  25% {
    box-shadow: inset 0 0 0 0 #ffbe1a;
  }
  41.49% {
    background: #ffbe1a;
    box-shadow: inset 0 0 0 160px #ffbe1a;
  }
  /*  */
  41.5% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  57.99% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* blue */
  58% {
    box-shadow: inset 0 0 0 0 #00b5d9;
  }
  74.49% {
    background: #00b5d9;
    box-shadow: inset 0 0 0 160px #00b5d9;
  }
  /* purple */
  74.5% {
    box-shadow: inset 0 0 0 0 #9772e5;
  }
  90.99% {
    background: #9772e5;
    box-shadow: inset 0 0 0 160px #9772e5;
  }
  /*  */
  91% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  100% {
    background: #f9a743;
    box-shadow: inset 0 0 0 80px #f9a743;
  }
}

/* navigation */
.navbar-brand {
  color: #444;
  font-size: 55px;
  margin: 0;
  line-height: 1;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  
}
.nav-link

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

a:hover {
    font-size: 15px;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #fff;
    border:none;
    margin-top: 10px;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 1.8px;
    background-color: #000;
    margin-bottom: 2.2px;
}

.pfp {
    width: 150px;
    position: absolute;
    margin-top: -10px;
}

.pfp:hover {
    width: 160px;
}

/* Carousel Image */
.carousel-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 0px
}

/* Background Image */
.bkgd-img {
  background-position: 50% 50%;
  position: fixed;
  align: center;
  z-index: -1;
  margin: 0px;
  padding: 0px;
  
}

/* Footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 190px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style: none
}
.footer-links li
{
  display: block
}
.footer-links a
{
  color: #737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display: inline-block
}
.site-footer .social-icons
{
  text-align: right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: #33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-] 
  {
    margin-bottom:30px
  }
}
@media (max-width:767px) 
{
  .site-footer 
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align: center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style: none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color: #29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color: #35619b
}
.social-icons a.email:hover
{
  background-color: #fff
}
.social-icons a.twitter:hover
{
  background-color: #1DA1F2
}
.social-icons a.socials:hover
{
  background-color: #1f1f1f
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.footer-img {
    width: fit-content;
    height: 100px;
    margin-top: 20px
}

.footer-favicons {
    height: 15px;
    margin-top: -3px;
}

.center {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

/* this is the css for the about.html */
.text{
  color:white;
  text-align:left;
  margin: 100px;
  margin-bottom:10px; 
  font-size: 40px
}

li{
  margin-bottom:1rem;
}

}
h3{
color:white;
text-align:left;
margin-left: 100px; 
  font-size: 70px
}
.picture{
  
  margin-top: 50px;
}
.pictureb{
  margin-left: 200px;
  margin-top: 50px;
}
.pic-text{
  color:white;
text-align:center;
margin-left: 100px; 
  font-size: 70px
}
.sponsorimgs{
  margin-left: 200px;
}